*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(90, 192, 232);
    background-position: 50% 90%;
    color: white;
    font-family: 'Lato';
}
input{
    display: block;
    height: 40px;
    width: 400px;
    margin: 15px;
    border: none;
    border-bottom: 1px solid #a9abac;
    padding: 10px 20px;
    background-color: transparent;
    font-size: 1rem;
    color: white;
    outline: none;
    box-shadow: none;
    overflow: visible;
}
div#corpo-form{
    width: 420px;
    margin: 130px auto 0px auto;
}
div#corpo-form-Cad{
    width: 420px;
    margin: 80px auto 0px auto;
}
div#corpo-form h1, div#corpo-form-Cad h1{
    text-align: center;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}
a:hover{
    text-decoration: underline;
}

div#corpo-form input#button {
    position: relative;
    width: 440px;
    height: 55px;
}
div#corpo-form-Cad input#button2 {
    position: relative;
    width: 440px;
    height: 55px;
}
input[type=submit]{
    background-color: #FF0066;
    border: none;
    cursor: pointer;
}
::-webkit-input-placeholder{
    color: #fff;
}
:-moz-placeholder{
    color: #fff;
}
::-moz-placeholder{
    color: #fff;
}
:-ms-input-placeholder{
    color: #fff;
}
