*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(90, 192, 232);
    background-position: 50% 90%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    height: 100%;
}

nav {
    background: #231f1e;
    width: 100%;
    height: 52px;
    border: none;
    display: flex !important;
    justify-content: center !important;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: transparent;
}

ul li {
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

ul li a {
    color: #ecf0ec;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li:hover {
    transition: all .5s;
    background-color: #231f1e!important;
}

ul ul {
    position: absolute;
    min-width: 185px;
    display: none;
}
ul ul li {
    display: block;
    background: #231f1e;
}

ul li:hover ul{
    z-index: 1;
    display: block;
    padding-top: 8px;
    background: #231f1e;
}

ul li i {
    float: right;
    padding-left: 7px;
    color: #f9f6f7;
}

.exitBotton {
    position: relative;
    text-decoration: none;
    color: #f9f6f7;
    padding-left: 20px;
    left: 52px;
}
.navbar-geral{
    display: inline-block;
    color: #5ac0e8;
    min-width: 190px;
    margin: 10px;
    border: none;
    border-bottom: 1px solid;
    padding: 10px;
}
.link-img{
    cursor: pointer;
}
a:link {
    text-decoration: none;
}
a:hover{
    color: rgb(90, 192, 232);
}
.width{
    max-width: 190px;
    margin: 10px;
}

img{
    position: relative;
    z-index: 2;
    right: 40px;
    margin-bottom: 9px;
    margin-right: 9px;
}
ul li ul li a:hover{
    background-color: #ecf0ec;
}

.btn-pdv{
    position: relative;
    left: 25px;
}
.transparent{
    background-color: transparent !important;
}

div#headerCard {
    display: inline-block;
    background-color: #fff;
}
a#span-historico{
    color: #5ac0e8;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-left: 25px;
}

div.span-hist {
    border-bottom: none;
    border-top: none;
}
.card-top{
    margin-top: 40px;
}
.btn-margin{
    margin-left:10px;
}
.conteiner-new{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #eee;
    background: #fff;
    height: 700px;
    border-radius: 1%;
}
hr{
    z-index: 1 !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #eee;
    margin-right: auto;
    margin-left: auto;
}
label.label-product {
    font-family: 'Lato';
    font-size: 14px;
}

input#input_name{
    width: 750px;
}
input#input_cod{
    width: 245px;
}
input#input_valor{
    width: 300px;
    margin-left: 15px;
}

label#label-valor{
    margin-left: 15px;
}
input#input_category{
    width: 300px;
    margin-left: 15px;
}

input#input_barcode{
    width: 335px;
    margin-left: 15px; 
}
input.margin-btn{
    margin-left: 30px;
    margin-top: 10px;
    width: 80px;
}

div.btn-conf{
    margin-left: 18px; 
    margin-right: 15px; 
}

div.card-home{
    border: none;
    background: #fff;
}